*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    margin-left: 140px;
    margin-right: 140px;
    font-size: 14.5px;
}

nav{
    flex: 1;
    text-align: right;
    
}

nav ul{
    display:inline-block;
    list-style-type :none;
   
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #ABABAB;
    font-family: Arial,sans-serif; 
    list-style-type: none;
    text-decoration: none;
    
}
a.lien:hover, a.lien:active {color: #00B39B;}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
#men{
    height: 100px;
  
}
.lien > a::after{
    
    font-size: 20px;
}
.img1{
    width: 70px;
    margin-top: 14px;
    margin-left: -20px;
}
.p{
    margin: 34px 0px;
    color: #00B39B;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    
}
div.col-6{
    padding: 30px;
}
.col-6{
    color: #747474;
    font: 16px Roboto,Arial,sans-serif;
    margin-top: -30px ;
    margin-left: 40;
}
.col3{
    justify-content: space-between;
    justify-content: flex-end;

}
.row{
    display: flex;
    justify-content: space-between;
    margin-left:10% ;
    margin-right: 10%;
}
#aa{
    background-color: #39c9b6;
    border-radius: 5%;
    padding: 10px;
    width: 30%;
    color: white;
}
#bb{
    background-color: rgb(63, 127, 223);
    border-radius: 5%;
    padding: 10px;
    color: white;
    width: 30%;
}
#cc{
    background-color:#222f3d;
    border-radius: 5%;
    padding: 10px;
    width: 30%;
    color: white;
}
#mag{
    color: #00B39B; 
    font-size: 26px;
    margin: 6.5px 0px 9.1px ;
    padding: 0px 26px 0px 0px;
}
#cont{
    display: flex;
    justify-content: space-around;
    margin:40px 0px 50px ;
    padding: 0px 20px;
    margin-left: 10%;
    margin-right: 10%;
   
   color: #000;
}
.mg1{
    filter: grayscale(100%); /*bach nzido lfilter  man fo9o*/

}
.mg1:hover{
    filter: grayscale(0%);  /*bach 7ayedna lfilter mali doz sorie man fo9o*/

}
.mg1s{
   fill:  #ABABAB;
}
.mg1s:hover {fill: #00B39B;}
.sect{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #d7f7f3;
    width:1263px ;
    height: 600px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(20,5%);
    grid-template-rows: repeat(20,5%);
    padding: 100px;
    overflow: hidden;
    margin: 0;
}
.sect1{
    grid-column: 2/10;
    grid-row: 1/12;
    
}
.sect2{
    grid-column: 9/11;
    grid-row: 1/12;
    
}
.sect3{
    grid-column: 15/17;
    grid-row: 1/12;
    
}
.sect4{
    grid-column: 15/18;
    grid-row: 15/17;
    
}
.sect5{
    grid-column: 9/11;
    grid-row: 15 /17;
    
}
.col-3{
    
    justify-content: space-between;
}
.offre{
   
    display: flex;
    justify-content: space-around;
}
span{
    width: 301px;
    height: 340px;
    background-color: #f4fcfb;
    border-radius:15px ;
    
}
button{
    background-color: #3D83DF;
    height: 30px;
    border-radius:5px ;
    border: solid #3D83DF ;
    color: #fff;
    font-size: 10px;
}
span:hover{
    box-shadow: 10px 10px 5px rgb(212, 211, 211);

}


